<div class="main-content">
    <div class="main-content__offer-img-wrap">
        <img src="../../img/images/main-offer.svg">
    </div>
    <div class="main-content__info-img-wrap">
        <img src="../../img/images/main-image.svg">
    </div>
    <div class="main-content__form-wrap">
        <div class="main-content__form-text-wrap">
            <h2 class="main-content__form-title">ЗАПОЛНИ ФОРМУ</h2>
            <p class="main-content__form-description">и мы вышлем фин. модель на твою почту</p>
        </div>
        <form class="main-content__form" action="">
            <div class="main-content__form-field-wrap">
                <input class="js-input" type="text" id="name" value="" name="name" placeholder="Имя">
                <span class="error"></span>
            </div>

            <div class="main-content__form-field-wrap">
                <input class="js-input" type="text" id="tel" value="" name="tel" placeholder="Телефон">
                <span class="error"></span>
            </div>

            <div class="main-content__form-field-wrap">
                <input class="js-input" type="text" id="email" value="" name="email" placeholder="Email">
                <span class="error"></span>
            </div>

            <div class="main-content__form-checkbox-wrap">
                <label class="main-content__checkbox-label" for="confid">
                    <div class="main-content__checkbox-body">
                        <input class="js-input" id="confid" type="checkbox" name="confid">
                        <div class="checkbox">
                            <img class="checkbox__icon" src="./img/icons/icon-checkbox2.svg">
                        </div>
                    <b>Я соглашаюсь с
                        </br> <a href="#">Политикой конфиденциальности</a>
                    </b>
                    </div>
                    <span class="error"></span>
                </label>

            </div>
            <button type="submit" class="main-content__form-submit-btn">Отправить</button>
        </form>
    </div>

</div>