<header class="header">
    <div class="header__logo-wrap">
        <img class="header__logo" title="Логотип сети барбершопов OldBoy"
             alt="Надпись barbershop OldBoy и изображение бритвы шаветт" src="../../img/images/logo.svg">
    </div>
    <nav class="header__navigation">
        <ul class="header__navigation-list">
            <li class="header__navigation-item">
                <a class="header__navigation-link">ГЛАВНАЯ</a>
            </li>
            <li class="header__navigation-item">
                <a class="header__navigation-link">УСЛУГИ</a>
            </li>
            <li class="header__navigation-item">
                <a class="header__navigation-link">БЛОГ</a>
            </li>
            <li class="header__navigation-item">
                <a class="header__navigation-link">ФРАНШИЗА</a>
            </li>
            <li class="header__navigation-item">
                <a class="header__navigation-link">ИНВЕСТИЦИИ</a>
            </li>
            <li class="header__navigation-item">
                <a class="header__navigation-link">ВАКАНСИИ</a>
            </li>
            <li class="header__navigation-item">
                <a class="header__navigation-link">КОНТАКТЫ</a>
            </li>
        </ul>
    </nav>
    <div class="header__phone-wrap">
        <a class="header__phone" href="tel:+78002345973">8 800 2345 973</a>
        <button type="button" class="header__phone-callback">ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК</button>
    </div>
    <div class="header__select">
        <div class="header__select-content">
            <div class="header__select-block-wrap">
                <div class="header__select-icon-wrap">
                    <img alt="Иконка геометки" src="../../img/icons/icon_map-mark.svg">
                </div>
                <div class="header__select-text-wrap">
                    <p class="header__select-text">ВЫБЕРИ СВОЙ БАРБЕРШОП:</p>
                    <p class="header__select-check">МОСКВА</p>
                </div>
            </div>
            <ul class="header__select-list">
                <li class="header__select-item">КАЛИНИНГРАД</li>
                <li class="header__select-item">МОСКВА</li>
                <li class="header__select-item">САНКТ-ПЕТЕРБУРГ</li>
            </ul>
        </div>
    </div>
    <div class="header__menu-burger" id="burger" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>