<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit = no">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
<meta name = "theme-color" content = "#000000" media="(prefers-color-scheme: light)"> <!-- for Safari -->
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Password">

<link rel="stylesheet" href="../../template_styles.css">
<link rel="preload" href="../../fonts/Rex/rex-bold.ttf" as="font" crossorigin="anonymous">
<link rel="preload" href="../../fonts/Rex/rex-bold.woff" as="font" crossorigin="anonymous">
<link rel="preload" href="../../fonts/OpenSans/open-sans-bold.ttf" as="font" crossorigin="anonymous">
<link rel="preload" href="../../fonts/OpenSans/open-sans-bold.woff" as="font" crossorigin="anonymous">
<link rel="preload" href="../../fonts/OpenSans/open-sans-bold.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="../../fonts/OpenSans/open-sans-semibold.ttf" as="font" crossorigin="anonymous">
<link rel="preload" href="../../fonts/OpenSans/open-sans-semibold.woff" as="font" crossorigin="anonymous">
<link rel="preload" href="../../fonts/OpenSans/open-sans-semibold.woff2" as="font" crossorigin="anonymous">