//for mixin
$desktop-max-width: 1441px;
$desktop-small-width: 1200px;
$small-tablet-max-width: 700px;
$tablet-max-width: 1101px;
$mobile-max-width: 500px;
$small-mobile-max-width: 320px;

//colors
$colorDefault: #FFFFFF;
$colorCorporate: #D29C4E;

//fonts
$fontDefault: 'Rex', sans-serif;
$fontSecond: 'Open Sans', sans-serif;