//for mixin
$desktop-max-width: 1441px;
$desktop-small-width: 1220px;
$small-tablet-max-width: 769px;
$tablet-max-width: 993px;
$mobile-max-width: 500px;
$small-mobile-max-width: 400px;

//colors
$colorDefault: #FFFFFF;
$colorCorporate: #D29C4E;

//fonts
$fontDefault: 'Rex', sans-serif;
$fontSecond: 'Open Sans', sans-serif;